[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/Pictures/backgrounds/Fantasy-IcyMountain.png"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
